.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0 !important;
}

input,
button {
  border-radius: 20px !important;
  margin: 10px 0 !important;
}

.cus-input,
button {
  width: 80% !important;
}

.branding {
  font-size: 13px !important;
  margin: 6px auto;
  display: flex;
}

.ui.small.image {
  width: 65px !important;
}

.inner-card {
  width: max-content !important;
}
